/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Commissioner", sans-serif;
  max-width: 375px;
}
:root {
  --clr-400: #f94f4f;
  --clr-900: #191921;
  --clr-100: #ffffff;
  --clr-1000: #000000;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.btn {
  --p-t: 1.5625rem;
  --p-r: 2.5rem;
  --p-b: 1.5625rem;
  --p-l: 2.5rem;
  --bg: var(--clr-400);
  color: var(--clr-100);
  font-family: inherit;
  font-style: normal;
  background-color: var(--clr-400);
  line-height: normal;
  font-weight: 800;
  cursor: pointer;
  border: none;
}
.btn:hover {
  background-color: #ff9393;
}
.btn-purpul {
  font-size: 1.125rem;
  padding-top: var(--p-t);
  padding-right: var(--p-r);
  padding-bottom: var(--p-b);
  padding-left: var(--p-l);
}
.btn-black {
  --bg: var(--clr-900);
  --p-t: 1.4375rem;
  --p-r: 2.5rem;
  --p-b: 1.3125rem;
  --p-l: 2.5rem;
  font-size: 1rem;
}

.mobile {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
}
.mobile-icon img {
  transform: translateY(0);
}

/* HEADER */
.tablet {
  display: none;
}

.hero {
  position: relative;
  padding-top: 2.5rem;
}
.hero img {
  position: absolute;
  left: 0;
  margin-bottom: 2.5rem;
}
.hero__content {
  padding-top: 15.625rem;
}
.hero__content h2 {
  color: var(--clr-1000);
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 0.938rem;
  line-height: 2.5rem; /* 100% */
}
.hero__content p {
  color: var(--clr-1000);
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.563rem; /* 166.667% */
  margin-bottom: 2.5rem;
}

/* DISIGN */
.disign {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 6rem;
  background-color: var(--clr-900);
  padding-bottom: 4.5rem;
}
.disign_1 {
  position: absolute;
  left: 0;
}
.disign_2 {
  position: absolute;
  left: 2.125rem;
  top: 11.563rem;
}
.disign__content {
  padding-top: 15.625rem;
}
.disign__content h2 {
  color: var(--clr-400);
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.5rem; /* 125% */
  margin-bottom: 1.5rem;
}
.unique {
  color: var(--clr-100);
}
.disign__content p {
  color: var(--clr-100);
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 166.667% */
  margin-bottom: 2.5rem;
}
.disign__link a {
  color: var(--clr-400);
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
  position: relative;
}
.disign__link a::after {
  content: "";
  display: block;
  background-color: var(--clr-400);
  width: 103px;
  height: 2px;
  position: absolute;
  top: 1.5rem;
}

/* DATA */
.data {
  padding-top: 6rem;
  background-color: var(--clr-400);
  padding-bottom: 6rem;
}
.data h1 {
  color: var(--clr-100);
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.5rem; /* 125% */
  margin-bottom: 3.063rem;
}
.boxes {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.box {
  position: relative;
}
.box img {
  position: absolute;
}
.box__content {
  padding-top: 1.8rem;
  padding-left: 1rem;
}
.box__content span {
  color: var(--clr-100);
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.5rem; /* 166.667% */
  margin-bottom: 0.938rem;
}
.box__content p {
  color: var(--clr-100);
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 166.667% */
  margin-bottom: 0.938rem;
}

/* BRAND */
.brand {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.brand__content {
  padding-top: 4rem;
  background-color: var(--clr-900);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 4rem;
}
.brand__content h1 {
  color: var(--clr-100);
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.5rem; /* 125% */
}
.brand__content img {
  width: 96px;
  height: 40px;
  flex-shrink: 0;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  gap: 2.938rem;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.footer h1 {
  color: var(--clr-1000);
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.5rem; /* 125% */
}
.footer button {
  padding-top: 1.438rem;
  padding-right: 2.75rem;
  padding-bottom: 1.313rem;
  padding-left: 2.813rem;
  width: 199px;
  background-color: var(--clr-400);
  color: var(--clr-100);
  font-family: Commissioner;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
  cursor: pointer;
}
.footer button:hover {
  background-color: #ff9393;
}
.tablet__hero {
  display: none;
}
.tablet__disign {
  display: none;
}
.tablet__brand {
  display: none;
}
.brand__icon {
  display: none;
}
.desktop__hero {
  display: none;
}
.desktop__disign {
  display: none;
}
.desktop__brand {
  display: none;
}
.footer__icon {
  display: none;
}
/* TABLET */
@media screen and (min-width: 500px) {
  body {
    max-width: 768px;
  }
  .mobile {
    display: none;
  }
  .container {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 0;
  }
  .tablet {
    display: block;
    display: flex;
    gap: 8.125rem;
    align-items: center;
    margin-bottom: 0;
  }
  .tablet__content {
    display: flex;
    gap: 1.75rem;
    align-items: center;
    background-color: var(--clr-400);
    padding-right: 3.03rem;
    padding-bottom: 3.563rem;
    padding-top: 3.563rem;
    padding-left: 2.063rem;
  }
  .tablet__content button {
    padding-top: 1.438rem;
    padding-right: 1.125rem;
    padding-bottom: 1.313rem;
    padding-left: 1.188rem;
    background-color: var(--clr-1000);
    color: var(--clr-100);
    font-family: inherit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;
    border: none;
  }
  .tablet__content button:hover {
    background-color: var(--clr-900);
  }
  .cnt__link {
    display: flex;
    gap: 1.25rem;
  }
  .cnt__link span a {
    text-decoration: none;
    color: var(--clr-100);
    font-size: 0.938rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 213.333% */
  }
  /* TABLET HERO*/
  .hero {
    display: flex;
    padding-top: 0;
  }
  .mobile__hero {
    display: none;
  }
  .tablet__hero {
    display: block;
    transform: translateX(20.5rem);
    z-index: -3;
  }
  .hero__content {
    max-width: 398px;
    padding-top: 10rem;
  }
  .hero__content h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-bottom: 1.188rem;
  }
  /* DESIGN HERO*/
  .disign {
    display: flex;
    flex-direction: row;
    gap: 4.313rem;
    padding-left: 0;
    padding-bottom: 0;
  }
  .disign__content {
    padding-top: 7.5rem;
  }
  .disign__content h2 {
    width: 250px;
  }
  .disign__content {
    width: 281px;
  }
  .disign_2 {
    left: 21.75rem;
  }
  .tablet__disign {
    display: block;
  }
  .mobile__disign {
    display: none;
  }
  /* DATA HERO*/
  .data {
    max-width: 438px;
    margin-right: 0;
    position: relative;
    transform: translateY(-7rem);
    padding-top: 7rem;
    margin-bottom: -7rem;
  }
  .data h1 {
    position: absolute;
    width: 281px;
    left: -19rem;
    top: 12rem;
    color: var(--clr-1000);
  }
  /* BRAND HERO*/
  .brand {
    display: flex;
    flex-direction: row-reverse;
  }
  .mobile__brand {
    display: none;
  }
  .tablet__brand {
    display: block;
    width: 438px;
    height: 472px;
    flex-shrink: 0;
  }
  .brand__content {
    width: 390px;
    height: 352px;
    flex-shrink: 0;
    transform: translateX(3.7rem);
    position: relative;
  }
  .brand__icon {
    display: block;
    position: absolute;
    top: 7.875rem;
    left: 21.375rem;
  }
  /* FOOTER HERO*/
  .footer {
    display: flex;
    flex-direction: row;
    gap: 5.75rem;
  }
  .footer h1 {
    width: 398px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  body {
    max-width: 1540px;
  }
  .container {
    padding-left: 10.313rem;
    margin: 0 auto;
  }
  .tablet {
    justify-content: space-between;
  }
  .desktop__hero {
    display: block;
    margin-left: 38.9rem;
    z-index: -1;
  }
  .tablet__hero {
    display: none;
  }
  .hero {
    padding-bottom: 10.5rem;
  }
  .disign {
    gap: 9.625rem;
  }
  .disign_2 {
    left: 43.75rem;
    top: 14.625rem;
  }
  .desktop__disign {
    display: block;
    margin-left: -10.313rem;
  }
  .tablet__disign {
    display: none;
  }
  .data {
    padding-top: 12.5rem;
    padding-right: 6.625rem;
    padding-bottom: 12.5rem;
    padding-left: 17.813rem;
    margin-left: 38.975rem;
    margin-right: 0;
    max-width: 895px;
  }
  .data h1 {
    top: 18rem;
    right: 45.938rem;
    font-size: 3.5rem;
    line-height: 4rem; /* 114.286% */
    width: 540px;
  }
  .boxes {
    gap: 3.5rem;
  }
  .desktop__brand {
    display: block;
  }
  .tablet__brand {
    display: none;
  }
  .brand__content {
    width: 835px;
    height: 528px;
    flex-shrink: 0;
    transform: translateX(9rem);
    padding-top: 9.5rem;
    padding-right: 10.813rem;
    padding-bottom: 9.5rem;
    padding-left: 15.313rem;
  }
  .brand__content h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 4rem; /* 114.286% */
  }
  .brand__icon {
    left: 48.95rem;
    top: 11.625rem;
  }
  .footer {
    gap: 23rem;
    align-items: center;
    margin-right: 0;
    position: relative;
  }
  .footer h1 {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 4rem; /* 114.286% */
    width: 635px;
    height: 133px;
    flex-shrink: 0;
  }
  .footer__btn {
    width: 199px;
    height: 64px;
    flex-shrink: 0;
  }
  .footer__icon {
    display: block;
    position: absolute;
    left: 0;
    bottom: -183rem;
  }
}
